div.content
    div

        div
            .close((click)="onClose()") &times;

        .flex.center.row.space-between
            .flex-cell
                .ico-strava-text
        .flex.row.center(*ngIf="authInProgress")
            .flex-cell
                | Проверка авторизации..
            .flex-cell
                .ico-z

        .flex.row.center(*ngIf="athlete.firstName")
            table.athlete
                tr
                    td(rowspan='3')
                        img.profile([src]="athlete.profile")
                    td FirstName
                    td {{athlete.firstName}}
                tr
                    td LastName
                    td {{athlete.lastName}}
                tr
                    td City
                    td {{athlete.city}}
        .flex.row.flex-end(*ngIf="athlete.firstName")
            .flex-cell
                .button.primary((click)="onDeauthorize()") Выйти
        .scroll
            div
                .flex.row
                    table.strava
                        tr
                            td
                                label ID клиента:
                            td
                                input.input([(ngModel)]="stravaClientId", type='number', name="stravaClientId")
                        tr
                            td
                                label Client Secret:
                            td
                                input.input([(ngModel)]="stravaClientSecret", name="stravaClientSecret", type="password")
                .row.flex
                    .flex-cell.gray(*ngIf="!docsFor.length") Нет фалов для отправки
                    .flex-cell(*ngIf="docsFor.length") Для отправки кликни файл
                .flex
                    .flex-cell(*ngFor="let track of docsFor\; let i = index" )
                        .ico-routs(title="отправить", (click)="sendTrackToStrava(track)") {{track.date | date: 'dd/MM/yyyy'}}

                .flex.flex-end
                    .flex-cell
                        .button.primary(*ngIf="!authInProgress && !athlete.firstName")
                            a([ngClass]="{'blue':stravaClientId && stravaClientSecret}",  href="{{stravaHref}}", (click)="$event.preventDefault(); goToStrava()") Авторизироваться

                .flex.flex-end
                    .flex-cell
                        .bnt-help((click)="onShowHelp()", title="Просмотреть справку по привязке") &#9660; ?


                .strava-help(*ngIf="showHelp")
                    .row
                        .row-cell Перейти
                             a(href="https://www.strava.com/settings/api", target="_blank") Strava API https://www.strava.com/settings/api
                    .row
                        .row-cell
                            img(src="src/img/strava-help/01.png")
                    .row
                        .row-cell
                            img(src="src/img/strava-help/02.png")

