div.content
    div((click)="clearPredel()")
        .close((click)="onClose()") &times;
        div
            | Регистрация устройства

        div.row()


            table()
                thead
                    tr
                        td.required Имя
                        td.required Идентификатор устройства
                        td Телефон
                        td
                tbody
                    tr(*ngFor="let dev of devices \;  let i = index ", (click)="preDel($event, i)")
                        td {{dev.name}}
                        td {{dev.device_key}}
                        td {{dev.phone}}
                        td.predelCell
                            //.close((click)="onClose()") &times;
                            .predel(*ngIf="btnPreDel.index==i", (click)='onDel($event, dev)') &times;
                           // button((click)='onDel($event, i)') {{btnPreDel.index}}
                    tr
                        td
                            input(type='text', [(ngModel)]='device.name', placeholder="{{user.name}}")
                        td
                            input(type='text', [(ngModel)]='device.id', placeholder="88888888888")
                        td
                            input(type='text', [(ngModel)]='device.phone')
                        td
                            button((click)="onAdd($event)") Добавить


        .border-hidden
        .row
            div
                .bnt-help((click)="onShowHelp()") &#9660; ?
            help-container(*ngIf="showHelp")
                .help
                    //.row
                    a(href='https://play.google.com/store/apps/details?id=com.mendhak.gpslogger', target="_blank")
                        img.ico(src="src/img/help/ico.webp")
                    a(href='https://play.google.com/store/apps/details?id=com.mendhak.gpslogger' , target="_blank") GPS-логгер (GPS Logger)
                    table
                        tbody
                            tr
                                td Настройка записи лога
                                td Отправлять коордиты на сервер OpenGTS
                                td
                                    p
                                        | Сервер Имя хоста или IP
                                        span  178.62.44.54
                                    p
                                        | Порт
                                        span 8080
                                    p
                                        |  Способ связи
                                        span HTTP
                                    p
                                        | Путь на сервере
                                        span log

                                td
                                    p
                                        | Идентификатор
                                        span  12 цифр
                            tr
                                td
                                    img(src="src/img/help/01.png")
                                td
                                    img(src="src/img/help/02.png")
                                td
                                    img(src="src/img/help/03.png")
                                td
                                    img(src="src/img/help/04.png")







