div.content
    div((click)="clearPredel()")
        .close((click)="onClose()") &times;
        div
            | Регистрация устройства
        form(#f="ngForm" )
            div.row()
                table()
                    thead
                        tr
                            td.required Имя
                            td.required Идентификатор устройства
                            td Телефон
                            td
                    tbody
                        tr(*ngFor="let dev of devices \;  let i = index ", (click)="preDel($event, i)")
                            td {{dev.name}}
                            td {{dev.device_key}}
                            td {{dev.phone}}
                            td.predelCell
                                .predel(*ngIf="btnPreDel.index==i", (click)='onDel($event, dev)') &times;
                        tr
                            td
                                input(type='text', [(ngModel)]='device.name', name='deviceName', placeholder="{{user.name}}", required, minlength="3" )
                            td
                                .relative
                                    input(type='text', id='deviceId', [(ngModel)]='device.id', name='deviceId' placeholder="88888888888", required, minlength="12" , #deviceId="ngModel" )
                                    div.absolute.helper(*ngIf="deviceId.invalid && (deviceId.dirty || deviceId.touched)")
                                        div(*ngIf="deviceId.errors.minlength")
                                            |must be at least 12 characters long.
                            td
                                input(type='text', [(ngModel)]='device.phone' name='devicePhone')
                            td
                                button((click)="onAdd($event)", [disabled]='f.invalid', [ngClass]="{disabled: f.invalid }") Добавить


        .border-hidden
        .row
            div
                .bnt-help((click)="onShowHelp()") &#9660; ?
            help-container(*ngIf="showHelp")
                .help
                    //.row
                    a(href='https://play.google.com/store/apps/details?id=com.mendhak.gpslogger', target="_blank")
                        img.ico(src="src/img/help/ico.webp")
                    a(href='https://play.google.com/store/apps/details?id=com.mendhak.gpslogger' , target="_blank") GPS-логгер (GPS Logger)
                    table
                        tbody
                            tr
                                td Настройка записи лога
                                td Отправлять коордиты на сервер OpenGTS
                                td
                                    p
                                        | Сервер Имя хоста или IP
                                        span  178.62.44.54
                                    p
                                        | Порт
                                        span 8080
                                    p
                                        |  Способ связи
                                        span HTTP
                                    p
                                        | Путь на сервере
                                        span log

                                td
                                    p
                                        | Идентификатор
                                        span  12 цифр
                            tr
                                td
                                    img(src="src/img/help/01.png")
                                td
                                    img(src="src/img/help/02.png")
                                td
                                    img(src="src/img/help/03.png")
                                td
                                    img(src="src/img/help/04.png")







