div.content
    div
        .close((click)="onClose()") &times;

        users-container
            .row
                h4 Друзья
                table
                    tbody
                        tr(*ngFor="let user of friends\; let i = index")
                            td
                                img([src]="user.image || 'src/img/no-avatar.gif' ")
                            td {{user.name}}
                            td
                                .invite((click)="onDelFriend(user)")
                                    | Удалить

            .row(*ngIf="invites.length")
                h4 Запросы
                table
                    tbody
                        tr(*ngFor="let user of invites\; let i = index")
                            td
                                img([src]="user.image || 'src/img/no-avatar.gif' ")
                            td {{user.name}}
                            td
                                .invite((click)="onAccept(user)", )
                                    | Принять

            .row
                .border-hidden
                    div()
                        button( style="float: right", (click)="getAllUsers($event)") Просмотреть всех участников
                .border-hidden
            .row(*ngIf="allUsers.length")
                h4 Все участники
                table
                    tbody
                        tr(*ngFor="let user of allUsers\; let i = index")
                            td
                                img([src]="user.image || 'src/img/no-avatar.gif' ")
                            td {{user.name}}
                            td
                                .invite( *ngIf="!isFriend(user)")
                                    template([ngIf]="!isInviteActive(user)", )
                                        div((click)="sendInvite(user)") Отправть запрос
                                    template([ngIf]="isInviteActive(user)") Запрос отправлен