div.content
    div
        .close((click)="onClose()") &times;

        users-container
            .row
                h4 Друзья
                table
                    tbody
                        tr(*ngFor="let user of friends\; let i = index")
                            td
                                img([src]="user.image || 'src/img/no-avatar.gif' ")
                            td {{user.name}}
                            td
                                .ico-chat((click)="startChat(user.id)")

                            td
                                .invite((click)="onDelFriend(user)")
                                    | Удалить

            .row(*ngIf="invites.length")
                h4 Запросы
                table
                    tbody
                        tr(*ngFor="let user of invites\; let i = index")
                            td
                                img([src]="user.image || 'src/img/no-avatar.gif' ")
                            td {{user.name}}
                            td
                                .invite.accept((click)="onAccept(user)")
                                    | Принять
                                .invite.reject((click)="onReject(user)")
                                    | Отклонить

            .row
                .border-hidden
                    div()
                        button( style="float: right", (click)="getAllUsers($event)") Просмотреть всех участников
                .border-hidden

            router-outlet
