div((click)="$event.stopPropagation();$event.preventDefault()" )
    ul(*ngIf="!as.userName")
        li
            label Имя
            input(type="text", [(ngModel)]="name")
        li
            label Пароль
            input( type="password", [(ngModel)]="pass")
        li
            div((click)="onEnter($event)") Вход
        div(style="border-bottom: 1px solid transparent; clear: both;")
        p
            a((click)="goToReg()") Регистрация
    ul(*ngIf="as.userName")
        li
            div((click)="goToProfile()") Профиль
        li
            a((click)="goDevice()") Устройства
        li
            div((click)="onExit($event)") Выйти
        //.button-container
            div()

