div((click)="$event.stopPropagation();$event.preventDefault()" )
    div(*ngIf="!as.userName")
        label Имя
        input(type="text", [(ngModel)]="name")
        label Пароль
        input( type="password", [(ngModel)]="pass")
        .button-container
            div()
                button((click)="onEnter($event)") Вход
        div(style="border-bottom: 1px solid transparent; clear: both;")
        p
            a((click)="goToReg()") Регистрация
    div(*ngIf="as.userName")
        p
            a((click)="goDevice()") Устройства
        .button-container
            div()
                button((click)="onExit($event)") Выйти
