div((click)="$event.stopPropagation();$event.preventDefault()" )
    div(*ngIf="!user.name")
        ul()
            li
                label Имя
                input(type="text", [(ngModel)]="name")
            li
                label Пароль
                input( type="password", [(ngModel)]="pass")
            li
                div((click)="onEnter($event)") Вход
            li
                a((click)="goToReg()") Регистрация
    .border-hidden
    ul(*ngIf="user.name")
        li
            div((click)="goToProfile()") Профиль
        li
            div((click)="goToFriends()") Друзья
        li
            div((click)="goDevice()") Устройства
        li
            div((click)="onExit($event)") Выйти
        //.button-container
            div()

