div((click)="$event.stopPropagation();$event.preventDefault()" )
    form(name='formLogin', (submit)="onEnter()")
        div(*ngIf="!user.name")
            ul
                li
                    label {{'NAME' | translate}}
                    input(type="text", [(ngModel)]="name", name='name')
                li
                    label {{'PASS' | translate}}
                    input( type="password", [(ngModel)]="pass", name='pass')
                li()
                    button((click)="onEnter($event)") {{'SIGN_IN' | translate}}
                li
                    a((click)="goToReg()") {{'REGISTRATION' | translate}}
    .border-hidden
    template([ngIf]="user.name")
        ul
            li((click)="goToProfile()")
                div() {{ 'PROFILE' | translate }}

            li((click)="goToFriends()")
                div {{'FRIENDS'| translate}}

            li((click)="goToPrivateArea()")
                div {{'PRIVATE_AREA'| translate}}

            li((click)="goDevice()")
                div {{'DEVICES'| translate}}
            li
                div((click)="onExit($event)") {{'ON_EXIT'| translate }}


