div((click)="$event.stopPropagation();$event.preventDefault()" )
    div(*ngIf="!user.name")
        ul
            li
                label Имя
                input(type="text", [(ngModel)]="name")
            li
                label Пароль
                input( type="password", [(ngModel)]="pass")
            li((click)="onEnter($event)")
                div() Вход
            li
                a((click)="goToReg()") Регистрация
    .border-hidden
    template([ngIf]="user.name")
        ul
            li((click)="goToProfile()")
                div() Профиль

            li((click)="goToFriends()")
                div Друзья

            li((click)="goToPrivateArea()")
                div Приватные зоны

            li((click)="goDevice()")
                div Устройства
            li
                div((click)="onExit($event)") Выйти


