.close((click)="hideTrack()") &times;
.title
    div
        .color([style.background]="track.color")
    .date {{track.date | date: 'dd/MM/yyyy'}}


.action
    div Дистанция
    b {{track.distance}} km
.action
    div Макс скорость
    b {{maxSpeed}} km/h
.action
    div Точек
    b {{track.points.length}}
    div
        p
            input(type="checkbox",id="test2",[(ngModel)]="resentPointFilter", (ngModelChange)="onResentFilter(resentPointFilter)" )
            label(for="test2") Фильтр
    div
        .route-points((click)="track.showSrcPoint()", title='Показать исходные точки')
.action
    .go( (click)="onGo(track)") Play &#9658;
.action
    .download((click)="onDownload()", title='Скачать на комп')
    .save((click)="saveChange()", title="сохранить трек")
    .strava-export(*ngIf="stravaService.athlete", (click)="stravaExport()", title="отправить в Strava")
    .strava-export.opacity-0-5(*ngIf="!stravaService.athlete", (click)="stravaExport()", title="Авторизироваться в Strava")


