.close((click)="hideTrack()") &times;
.title
    .color([style.background]="track.color")
    .date {{track.date | date: 'dd/MM/yyyy'}}


.info  Дистанция
    b {{track.distance}} km
.info Точек
    b {{track.points.length}}
.action
    .route-points((click)="track.showSrcPoint()", title='Показать исходные точки')
    .go( (click)="onGo(track)") Play &#9658;
.action
    .download((click)="onDownload()", title='Скачать на комп')
    .save((click)="saveChange()", title="сохранить трек")
    .strava-export((click)="stravaExport()", title="отправить в Strava")


