table
    tr
        td.button.menu((click)="onOpenAthlete()")
            .flex
                .satellite.ico
                .name {{'IN_CONNECTION'|translate}}
        td.button.menu( (click)="onOpen()" )
            .flex
                .routs.ico
                .name {{'ROUTS'|translate}}
        td.button.weather([class.active]="weatherLayer")
            .weather-ico((click)="onWeather()")
        td.fill-space
        td.bell((click)="goToFriends()")
            .un-viewed-ids(*ngIf="unViewedIds.length") {{unViewedIds.length}}
            .num(*ngIf="invites.length") {{invites.length}}
        td.icoUser()
            img([src]="user.image || 'src/img/no-avatar.gif' ", (click)="goToProfile()")
        td.button.enter( (click)="onOpenLogin()")
            |{{user.name || ('SIGN_IN' | translate)}}
menu-athlete(*ngIf="isShowMenuAthlete", (onCloseMenuAthlete) = 'onCloseMenuAthlete($event)', @ngIfAnimation='')
menu-track(*ngIf="menuService.menuOpen")
menu-login(*ngIf="menuService.menuOpenLogin")

