div.content
    div
        .close((click)="onClose()") &times;
        users-container
            .row
                p Приватные зоны (в разработке..)
            .row
                p
                    input(type="checkbox" id="test1", [(ngModel)]="setting.lock", (ngModelChange)="saveLock(setting.lock)" )
                    label(for="test1") Мой лог закрытый
                .help(*ngIf="setting.lock") снять галочку  чтобы все пользователи вас видели онлайн, если вы не находитесь в приватной зоне
                .help(*ngIf="!setting.lock") поставьте галочку чтобы запретить показ моего местоположения всем кроме друзей
            .table.saves-area(*ngFor="let area of areas\; let i = index", (mouseover)="onOver(area)")
                .cell
                    |{{area.lng}}
                .cell
                    |{{area.lat}}
                .cell
                    |{{area.radius}}
                .cell.del
                      div((click)="onDel(area)") &times;

            .table
                .cell
                    |{{lng}}
                .cell
                    |{{lat}}
                .cell
                    |{{rad}}
                .cell
                    div(*ngIf="clickCount==0")
                        .button.add((click)="onDrawArea()") Добавить
                    div(*ngIf="clickCount!=0")
                        .button.add((click)="onFinish()") Сохранить


            .border-hidden